{% extends "base.html" %}

{% block content %}

<h1>Evolução de Preços por Posto</h1>

<div style="height:500px;">
<canvas id="grafico"></canvas>
</div>

<table class="table table-dark table-striped">
<tr>
<th>Posto</th>
<th>Combustível</th>
<th>Preço</th>
<th>Data</th>
</tr>

{% for linha in dados %}
<tr>
<td>{{ linha[0] }}</td>
<td>{{ linha[1] }}</td>
<td>R$ {{ "%.2f"|format(linha[2])|replace('.', ',') }}</td>
<td>{{ linha[3] }}</td>
</tr>
{% endfor %}

</table>

<script>

var dadosGrafico = JSON.parse('{{ dados | tojson | safe }}');

var labels = [];
var datasets = {};

dadosGrafico.forEach(function(item){

var posto = item[0];
var combustivel = item[1];
var valor = item[2];
var data = item[3];

if(!labels.includes(data)){
labels.push(data);
}

var chave = posto + " - " + combustivel;

if(!datasets[chave]){
datasets[chave] = {
label: chave,
data: [],
borderWidth: 2,
fill: false,
tension: 0.3
};
}

datasets[chave][data] = valor;

});

Object.keys(datasets).forEach(function(chave){

var dataArray = [];

labels.forEach(function(data){
dataArray.push(datasets[chave][data] || null);
});

datasets[chave].data = dataArray;

});

new Chart(document.getElementById("grafico"), {

type: "line",

data: {
labels: labels,
datasets: Object.values(datasets)
},

options: {
responsive: true,
maintainAspectRatio: false,

plugins: {
legend: {
position: 'top'
}
},

scales: {
y: {
beginAtZero: false
}
}

}

});

</script>

{% endblock %}